*.so
*.swp
CMakeCache.txt
CMakeFiles
CTest*.cmake
Makefile
Testing
__
cbd
cbwd
cmake_install.cmake
libgtest*.a
libnebbase.a
libroker.a
librokerbase.a
tags
test-coverage
ut
doc/_build
build
cmake-build-debug
core/inc/com/centreon/broker/vars.hh
core/inc/com/centreon/broker/version.hh
.idea
.vscode
