*.pb.cc
*.pb.h
*.so
*.swp
.idea
.vscode
CMakeCache.txt
CMakeFiles
CTest*.cmake
Makefile
Testing
__
build
cbd
cbwd
cmake-build-debug
cmake_install.cmake
core/inc/com/centreon/broker/database/table_max_size.hh
core/inc/com/centreon/broker/vars.hh
core/inc/com/centreon/broker/version.hh
doc/_build
doc/devel-doc
libgtest*.a
libnebbase.a
libroker.a
librokerbase.a
script/misc/grpc/broker_pb2.py
script/misc/grpc/broker_pb2_grpc.py
tags
test-coverage
test/python/*.crt
test/python/*.key
ut
