*.pb.cc
*.pb.h
*.so
*.swp
.idea
.vscode
CMakeCache.txt
CMakeFiles
CTest*.cmake
Makefile
Testing
__
build
centreon-broker/core/inc/com/centreon/broker/database/table_max_size.hh
centreon-broker/core/inc/com/centreon/broker/vars.hh
centreon-broker/core/inc/com/centreon/broker/version.hh
doc/_build
doc/devel-doc
libgtest*.a
libnebbase.a
libroker.a
librokerbase.a
script/misc/grpc/broker_pb2.py
script/misc/grpc/broker_pb2_grpc.py
tags
test-coverage
test/python/*.crt
test/python/*.key
ut
### 
apps/
build/*

### node ###
node_modules/

### vscode ###
.vscode/

### temp build files ###
logs/*

workspace.*

# ingore local env files
.env.local

src/config/centreon-engine/*.cfg


*.swp
**/.idea/*
**/.vscode/*
**/build/*
centreon-engine/conf/centengine.cfg
centreon-engine/conf/objects/*.cfg
centreon-engine/conf/resource.cfg
centreon-engine/doc/_build
centreon-engine/inc/com/centreon/engine/version.hh
centreon-engine/inc/compatibility/common.h
centreon-engine/inc/compatibility/locations.h
centreon-engine/scripts/centengine.pc
centreon-engine/scripts/centengine.sh
centreon-engine/src/simumod/neb.cc
centreon-engine/tags
centreon-engine/gtest.cbp
**/CMakeFiles/*
centreon-engine/cmake-build-debug/*
centreon-engine/modules/bench/passive/paths.hh
centreon-engine/enginerpc/engine.*pb.cc
centreon-engine/enginerpc/engine.*pb.h
**/__pycache__/*
**/engine_pb2*.py
centreon-engine/benchmark/centreon-engine/*
centreon-engine/benchmark/log/*
centreon-engine/benchmark/lib/*
**/.*.swp
centreon-connectors/perl/src/xs_init.cc
centreon-connectors/perl/test/connector/paths.hh
centreon-connectors/ssh/test/connector/binary.hh
build/*
.idea/*
cmake-build-debug/*
centreon-clib/script/*
centreon-clib/inc/com/centreon/clib/version.hh